[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "submodules/libepoxy"]
	path = submodules/libepoxy
	url = https://github.com/anholt/libepoxy.git
	branch = master
[submodule "build/submodules/whereami"]
	path = build/submodules/whereami
	url = https://github.com/gpakosz/whereami.git
	branch = master
[submodule "submodules/whereami"]
	path = submodules/whereami
	url = https://github.com/gpakosz/whereami.git
	branch = master
